:root {
  --width: 500px;
}

html, body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

canvas {
  display: block;
}

.container {
  width: var(--width);
  margin: 5rem auto 0;
}

h1 {
  display: inline-block;
}

main {
  width: var(--width);
  margin: 3rem auto 1rem;
}

p {
  display: block;
  width: var(--width);
  margin: 0 auto;

}

.container > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img{
  width: 35px;
  height: 35px;
}


img:hover ~ .gradient-content {
    opacity: 1;
}
.gradient-content {
    transform: rotate(-131deg);
}

.gradient-content {
    position: absolute;
    transform: rotate(25deg) translate(15px, -15px);
    filter: blur(7px);
    opacity: 0;
    transition-duration: 350ms;
    pointer-events: none;
}
.gradient-item {
    width: 6px;
    height: 38px;
    position: absolute;
}

.gradient1{
    background-color: greenyellow;
    transform: translate(0,-50%);
}
.gradient2{
    background-color: rgb(255, 241, 47);
    transform: translate(50%,-50%);

}
.gradient3{
    background-color: rgb(255, 158, 47);
    transform: translate(100%, -50%);

}
.gradient4{
    background-color: rgb(255, 0, 0);
    transform: translate(150%, -50%);

}

small{
  font-weight: 300;
  font-size: 0.9rem;
}

.grid {
  width: 100%;
  height: var(--width);
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  margin: 5rem auto 2rem;
}

.cell {
  width: 8px;
  height: 8px;
  display: block;
  border: 1px solid black;
}

.cell.alive {
  background: #000;
}
.grid-container {
  width: var(--width);
  margin: 0 auto;
}

.grid-container button {
  width: 5rem;
  height: 1.5rem;
}